<!-- templates/result.html -->
<html lang="en" dir="ltr">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <head>
      <meta charset="utf-8">
      <title>Face Value Analyzer</title>
      <link rel="stylesheet" href="/static/style.css">
   </head>
   <body>
      <h1>The WINNER IS </h1>
      <img src="data:image/JPG;base64,{{img}}">
      <h2>The face value of the winner is {{dist}} </h2>
      <h2>The reference of the winner is </h2>
      <img src="data:image/JPG;base64,{{ref_img}}">
      <script type="text/javascript">
         var infolinks_pid = 3252781;
         var infolinks_wsid = 0;
         </script>
         <script type="text/javascript" src="http://resources.infolinks.com/js/infolinks_main.js"></script>
   </body>
</html>